/* здесь используйте глобальные селекторы img, body, html и так далее */
body {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

// Планшет
@media (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

// Десктоп
@media (min-width: 1440px) {
  body {
    font-size: 18px;
  }
}
