body {
  font-size: 14px;
  margin: 0;
}

.container {
  @media (min-width: 320px) {
    box-sizing: border-box;
    width: 320px;
    padding: 0 20px;
    margin: 0 auto;
  }

  @media (min-width: 768px) {
    width: 768px;
    padding: 0 30px;
  }

  @media (min-width: 1440px) {
    width: 1440px;
    padding: 0 110px;
  }
}
