.basic-products__list {
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    flex-flow: wrap;
    flex-direction: row;
    gap: 60px 30px;
  }

  @media (min-width: 1440px) {
    gap: 80px 40px;
  }
}

.cards__item {
  width: 100%;

  @media (min-width: 768px) {
    width: calc(50% - 15px);
  }

  @media (min-width: 1440px) {
    width: calc(33% - 27px);
  }
}

.cards__link-text {
  text-decoration: none;
}

.cards__title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.cards__option,
.cards__item--more-text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.cards__button {
  display: block;
  width: 280px;
  height: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  margin: 0 auto;
}

.cards__button--more {
  color: #444444;
  background-color: #f2f2f2;
}

.cards__image--more {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../icons/plus-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto 10px;
}
