.basic-products {
  margin: 0 20px;
}

.basic-products__list {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    flex-flow: wrap;
    flex-direction: row;
    gap: 60px 30px;
  }

  @media (min-width: 1440px) {
    gap: 80px 40px;
  }
}

.cards__item {
  width: 100%;
  display: flex;
  padding: 20px 0 17px;
  border-top: 1px solid #ebebeb;
  border-bottom: 1px solid #ebebeb;

  @media (min-width: 768px) {
    width: calc(50% - 15px);
  }

  @media (min-width: 1440px) {
    width: calc(33% - 27px);
  }
}

.cards_text {
  display: flex;
  flex-direction: column;
}

.cards__link-text {
  text-decoration: none;
}

.cards__title {
  margin: 0 0 14px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #222222;
}

.cards__option,
.cards__item--more-text {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 16px;
  color: #444444;
}

.cards__description {
  display: grid;
  grid-template-columns: 1fr auto;
  margin: 0;
  padding: 0;
}

.cards__option {
  margin: 0;
  padding: 0;
}

.cards__description dt {
  grid-column: 1;
  text-align: left;
}

.cards__description dd {
  grid-column: 2;
  text-align: right;
  margin: 0;
}

.cards__button {
  display: block;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  margin: 0 auto;
}

.cards__button--more {
  color: #444444;
  background-color: #f2f2f2;
  padding: 10px 95px 10px 94px;
}

.cards__image--more {
  display: block;
  width: 30px;
  height: 30px;
  background-image: url("../../icons/plus-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin: 0 auto 10px;
}

.cards__link-img {
  margin: 10.5px 36px;
}

.cards__item--more {
  flex-direction: column;
  align-items: center;
}
