.contacts {
  position: relative;
  display: flex;
  flex-direction: column;
}

.contacts__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding-top: 26px;
  padding-bottom: 26px;
  gap: 20px;

  @media (min-width: $tablet) {
    gap: 0;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @media (min-width: $desktop) {
    gap: 87px;
    position: absolute;
    left: 110px;
    top: 95px;
    z-index: 2;
    width: 565px;
    padding: 60px 78px 60px 80px;
  }
}

.contacts-lead {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: $special_black;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    width: 163px;
    margin-left: 40px;
  }
}

.contacts__address {
  display: block;
  font-family: "Lato", sans-serif;
  font-style: normal;
  font-size: 14px;
  line-height: 20px;
  color: $special_dark-grey;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
    text-align: right;
    width: 157px;
    margin-right: 40px;
  }

  @media (min-width: $desktop) {
    text-align: left;
    margin: 0;
  }
}

.contacts__city {
  @media (min-width: $tablet) {
    display: inline-block;
    margin-top: 20px;
  }
}

.contacts__map-iframe {
  position: relative;
  width: 100%;
  height: 362px;
  overflow: hidden;
  border-radius: 8px;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    display: block;
  }
}

.index-contacts {
  background-color: $white;
}

.catalog-contacts {
  background-color: $basic_grey;

  @media (min-width: $desktop) {
    background-color: $white;
  }
}

