.example__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  color: rgba(0, 0, 0, 1);
}

.example__text {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgba(68, 68, 68, 1);
}

.example__value {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: rgba(0, 0, 0, 1);
}

.example__option {
  font-family: "Lato", sans-serif;
  font-size: 12px;
  line-height: 12px;
  color: rgba(68, 68, 68, 1);
}

.example__cost {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
}

.example__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

@media (min-width: 768px) {
  .example__wrapper {
    flex-direction: row;
    align-items: flex-end;
    gap: 40px;
  }

  .example__img {
    max-width: 50%;
  }
}

