.extra-products {
  margin: 0 20px;
}

.extra-products-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 32px;
  }
}

.extra-products__item {
  flex: 1 1 0;
}

.extra-products__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
}

.list__title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #222222;
  margin: 13px 0;
}

.extra-products__info {
  display: flex;
  justify-content: space-between;
}

.list__description,
.list__price {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  color: #444444;
}

.list__link {
  display: block;
  padding: 10px 109px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  margin: 15px 0 19px;
}

.extra-product__gift {
  position: relative;
  height: 290px;
  background-color: #68b738;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  background:
    linear-gradient(to bottom, rgba(104, 183, 56, 0.85) 63%, #68b738 100%),
    url("../../images/catalog-background-mobile@2x@1x.png") center top no-repeat,
    linear-gradient(to bottom, #4c4b50 63%, #68b738 63%);
  background-size:
    100% 100%,
    320px auto,
    100% 100%;
  background-repeat: no-repeat;
  background-position: top center, top center, top center;
}

.extra-products__gift-description {
  position: relative;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
  padding-top: 187px;

}

.extra-products__gift-description::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  transform: translateX(-50%);
  width: 78px;
  height: 80px;
  background: url("../../icons/gift-icon.svg") no-repeat center/contain;
  z-index: 1;
}
