.guide {
  margin: 0 20px;

  @media (min-width: 768px) {
    margin: 0;
    padding: 0 30px 47px;
    border-bottom: 1px solid #e6e6e6;
  }
}

.guide__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 40px;
  font-weight: 400;
  padding: 0;
  margin: 20px 0 40px;

  @media (min-width: 768px) {
    margin: 45px 0 72px;
  }
}

.guide__list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 63px;
  display: flex;
  flex-direction: column;
  gap: 20px;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 37px 153px;
    margin: 0;
  }
}

.guide__item {
  position: relative;
  margin: 0;
  padding-left: 80px;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;

  @media (min-width: 768px) {
    padding: 151px 26px 57px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: left;
    font-size: 16px;
    color: #444444;
  }
}

.guide__item::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 60px;
  height: 60px;
  background-color: #68b738;
  z-index: 1;

  @media (min-width: 768px) {
    display: block;
    width: 80px;
    height: 80px;
  }
}

.guide__item::after {
  content: "";
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  pointer-events: none;
}

.guide__item--leaf::after {
  top: 14px;
  left: 15px;
  width: 30px;
  height: 32px;
  background-image: url("../../icons/leaf-icon.svg");

  @media (min-width: 768px) {
    display: block;
    top: 25px;
    left: 24px;
  }
}

.guide__item--water::after {
  top: 16px;
  left: 17px;
  width: 26px;
  height: 28px;
  background-image: url("../../icons/water-icon.svg");

  @media (min-width: 768px) {
    display: block;
    top: 26px;
    left: 27px;
  }
}

.guide__item--meal::after {
  top: 15px;
  left: 17px;
  width: 25px;
  height: 30px;
  background-image: url("../../icons/eat-icon.svg");

  @media (min-width: 768px) {
    display: block;
    top: 25px;
    left: 28px;
  }
}

.guide__item--clock::after {
  top: 15px;
  left: 17px;
  width: 26px;
  height: 31px;
  background-image: url("../../icons/weight-icon.svg");

  @media (min-width: 768px) {
    display: block;
    top: 24px;
    left: 27px;
  }
}

.guide__item--text {
  position: relative;
  z-index: 2;
}

.guide__item--leaf .guide__item--text::before {
  @media (min-width: 768px) {
    content: "1";
    position: absolute;
    bottom: 96px;
    left: 120px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    color: #f2f2f2;
    z-index: 0;
    pointer-events: none;
  }
}

.guide__item--water .guide__item--text::before {
  @media (min-width: 768px) {
    content: "2";
    position: absolute;
    bottom: 96px;
    left: 120px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    color: #f2f2f2;
    z-index: 0;
    pointer-events: none;
  }
}

.guide__item--meal .guide__item--text::before {
  @media (min-width: 768px) {
    content: "3";
    position: absolute;
    bottom: 96px;
    left: 120px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    color: #f2f2f2;
    z-index: 0;
    pointer-events: none;
  }
}

.guide__item--clock .guide__item--text::before {
  @media (min-width: 768px) {
    content: "4";
    position: absolute;
    bottom: 96px;
    left: 120px;
    font-family: "Oswald", sans-serif;
    font-size: 280px;
    color: #f2f2f2;
    z-index: 0;
    pointer-events: none;
  }
}

