.main-nav__list {
  position: absolute;
  left: 0;
  top: 66px;
  list-style-type: none;
  flex-direction: column;
  align-items: center;
  background-color: $white;
  margin: 0;
  padding: 0;
  z-index: 3;
  display: none;

  @media (min-width: $tablet) {
    position: relative;
    top: 0;
    display: flex;
    flex-direction: row;
    gap: 33px;
  }

  @media (min-width: $desktop) {
    background-color: transparent;
  }
}

.catalog-header .main-nav__list {
  @media (max-width: 767px) {
    display: none;
  }
}

.main-nav__item {
  min-width: 320px;
  text-align: center;
  padding: 22px 0 24px;
  border-top: 1px solid $special_grey-3;
  z-index: 2;
  cursor: pointer;

  @media (min-width: $tablet) {
    border: none;
    padding: 14px 0 10px;
    min-width: 64px;
  }
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 400;
  color: $black;
  text-decoration: none;

  @media (min-width: $tablet) {
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 1;
  }
}

.main-nav__item:hover .main-nav__link {
  opacity: 0.5;
}

.main-nav__item:active .main-nav__link {
  opacity: 0.3;
}

.main-nav__item:hover .main-nav__link--current {
  opacity: 1;
}

.main-nav__item:active .main-nav__link--current {
  opacity: 1;
}

.main-nav__toggle {
  position: relative;
  width: 24px;
  height: 16px;
  border: none;
  background: none;
  cursor: pointer;
  display: block;
  z-index: 10;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__toggle::before,
.main-nav__toggle::after,
.main-nav__toggle span {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: $special_dark-grey-2;
  border-radius: 2px;
  transition: transform 0.2s, opacity 0.2s;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-nav__toggle::before {
  top: 0;
}

.main-nav__toggle span {
  top: 50%;
  transform: translateY(-50%);
}

.main-nav__toggle::after {
  bottom: 0;
}

.main-nav__toggle .visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0 0 0 0);
  border: 0;
  white-space: nowrap;
}

.main-nav__toggle--close::before {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}

.main-nav__toggle--close::after {
  bottom: auto;
  top: 50%;
  transform: translateY(-50%) rotate(-45deg);
}

.main-nav__toggle--close span {
  opacity: 0;
  pointer-events: none;
}

.main-nav__link--current {
  cursor: default;

  @media (min-width: $tablet) {
    border-bottom: 2px solid $basic_green;
  }
}

.index-header .main-nav__link--current {
  @media (min-width: 1440px) {
    border-bottom: 2px solid $white;
  }
}

.index-header .main-nav__link {
  @media (min-width: $desktop) {
    color: $white;
  }
}
