.main-footer {
  background-color: #f2f2f2;
  padding: 0 20px;
}

.main-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  padding: 24px 0;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    padding: 40px 0;
  }
}

.main-footer__social {
  list-style-type: none;
  margin: 0;
  padding: 20px 74px;
  display: flex;
  gap: 24px;
  border-bottom: 1px solid #d9d9d9;
}

.author__link--text {
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: #444444;
  text-decoration: none;
}

.social__link--vkontakte,
.social__link--youtube,
.social__link--telegram {
  display: block;
  width: 28px;
  height: 22px;
  background-repeat: no-repeat;
  background-size: contain;
}

.social__link--vkontakte {
  background-image: url("../../icons/vk-icon.svg");
}

.social__link--youtube {
  background-image: url("../../icons/youtube-icon.svg");
}

.social__link--telegram {
  background-image: url("../../icons/tg-icon.svg");
}

.main-footer__logo-link {
  display: block;
  border-bottom: 1px solid #d9d9d9;
  padding: 40px 96px 20px;
}

.author {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 40px;
}
