.main-header__container {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 66px;
  padding-top: 13px;
  padding-bottom: 15px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-bottom: 0;
    border: none;
    gap: 94px;
  }

  @media (min-width: $desktop) {
    padding-top: 55px;
    gap: 543px;
    border: none;
  }
}

.main-header__logo {
  display: flex;
  gap: 56px;
  align-items: center;
  cursor: pointer;

  @media (min-width: $tablet) {
    gap: 13px;
  }
}

.main-header__logo--text {
  display: block;
}

.main-header__logo:hover {
  opacity: 0.8;
}

.main-header__logo:active {
  opacity: 0.6;
}
