.main-nav__list {
  list-style-type: none;
  display: none;
  flex-direction: column;
  gap: 0;

  @media (min-width: 768px) {
    display: flex;
    flex-direction: row;
    gap: 33px;
  }
}

.main-nav__link {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: rgba(0, 0, 0, 1);
  text-decoration: none;
}

.main-nav__toogle {
  width: 24px;
  height: 16px;
  background-image: url("../../icons/open-menu-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}
