.main-footer {
  background-color: $basic_grey;
}

.main-footer__container {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media (min-width: $tablet) {
    flex-direction: row;
    padding-top: 58px;
    padding-bottom: 58px;
  }

  @media (min-width: $desktop) {
    padding-top: 67px;
    padding-bottom: 67px;
  }
}

.main-footer__social {
  list-style-type: none;
  margin: 0;
  padding: 20px 78px 18px 72px;
  display: flex;
  align-items: center;
  gap: 28px;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    border: none;
    padding: 0;
    margin-left: 160px;
  }

  @media (min-width: $desktop) {
    margin-left: 416px;
  }
}

.main-footer__author-link--text {
  width: 113px;
  font-family: "Lato", sans-serif;
  font-size: 16px;
  line-height: 20px;
  color: $special_dark-grey;
  text-decoration: none;
}

.main-footer__social-link {
  display: block;
  background-repeat: no-repeat;
  background-size: contain;
}

.main-footer__social-link--vkontakte {
  width: 27px;
  height: 22px;
  background-color: $special_dark-grey-2;
  mask: url("../../icons/vk-icon.svg") center/contain no-repeat;
  transition: background-color 0.3s ease;
}

.main-footer__social-link--youtube {
  width: 24px;
  height: 18px;
  background-color: $special_dark-grey-2;
  mask: url("../../icons/youtube-icon.svg") center/contain no-repeat;
  transition: background-color 0.3s ease;
}

.main-footer__social-link--telegram {
  width: 20px;
  height: 17px;
  background-color: $special_dark-grey-2;
  mask: url("../../icons/tg-icon.svg") center/contain no-repeat;
  transition: background-color 0.3s ease;
}

.main-footer__logo-link {
  display: block;
  border-bottom: 1px solid #d9d9d9;
  padding: 38px 96px 19px;

  @media (min-width: $tablet) {
    border: none;
    padding: 0;
  }
}

.main-footer__logo-link:hover {
  opacity: 0.8;
}

.main-footer__logo-link:active {
  opacity: 0.6;
}

.main-footer__author {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 20px 0 40px;
  align-items: center;
  text-decoration: none;

  @media (min-width: $tablet) {
    padding: 0;
    gap: 23px;
    justify-content: flex-end;
  }
}

.main-footer__author-link--image {
  display: block;
  width: 27px;
  height: 34px;
  background-color: $special_dark-grey-2;
  mask: url("../../images/footer-logo.svg") center/contain no-repeat;
  transition: background-color 0.3s ease;
}

.main-footer__social-link:hover,
.main-footer__social-link:focus,
.main-footer__social-link:active,
.main-footer__author-link--image:hover,
.main-footer__author-link--image:focus,
.main-footer__author-link--image:active {
  background-color: $basic_green;
}

.main-footer__social-link:active,
.main-footer__author-link--image:active {
  opacity: 0.3;
}

.main-footer__author-link--text:hover,
.main-footer__author-link--text:focus {
  opacity: 0.5;
}

.main-footer__author-link--text:active {
  opacity: 0.3;
}
