.programs {
  display: flex;
  flex-direction: column;
  margin: 0 20px;
  overflow: hidden;

  @media (min-width: 768px) {
    margin: 0 30px;
  }
}

.programs__item {
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    padding: 77px 316px 53px 52px;
  }
}

.programs__item--slim {
  margin-bottom: 20px;

  @media (min-width: 768px) {
    margin-bottom: 30px;
  }
}

.programs__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  padding-left: 90px;
  margin: 0 0 29px;

  @media (min-width: 768px) {
    padding: 0;
    font-size: 36px;
    line-height: 1;
  }
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;

  @media (min-width: 768px) {
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: #000000;
    margin-top: 24px;
    margin-bottom: 48px;
  }
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 13px;
  display: inline-block;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 2;
    color: #000000;
  }
}

.programs__link::after {
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../../icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  margin-left: 15px;
}

.programs__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  z-index: 1;

  @media (min-width: 768px) {
    left: 400px;
    top: 15px;
    width: 200px;
    height: 200px;
    transform: none;
  }
}

.programs__title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  pointer-events: none;

  @media (min-width: 768px) {
    top: 0;
    transform: none;
  }
}

.programs__title--slim::after {
  background-image: url("../../icons/cat-slim.svg");
  width: 36px;
  height: 50px;
  left: 7;

  @media (min-width: 768px) {
    width: 140px;
    height: 194px;
    left: 430px;
    top: 10px;
  }
}

.programs__title--pro::after {
  background-image: url("../../icons/cat-pro.svg");
  width: 67px;
  height: 28px;
  left: -9px;

  @media (min-width: 768px) {
    width: 268px;
    height: 112px;
    left: 370px;
    top: 60px;
  }
}
