.programs__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }
}

.programs__item {
  flex: 1 1 0;
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    padding: 40px 30px 40px 52px;
  }
}

.programs__item--slim {
  margin-bottom: 20px;
}

.programs__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 90px;
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.programs__link::after {
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../../icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  margin-left: 15px;
}

.programs__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 53px;
  background-color: #68b738;
  border-radius: 50%;
  z-index: 1;
}

.programs__title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  pointer-events: none;
}

.programs__title--slim::after {
  background-image: url("../../icons/cat-slim.svg");
  width: 36px;
  height: 50px;
  left: 7;
}

.programs__title--pro::after {
  background-image: url("../../icons/cat-pro.svg");
  width: 67px;
  height: 28px;
  left: -9;
}
