
.programs__item {
  padding: 30px 33px 19px 20px;
  background-color: $basic_grey;

  @media (min-width: $tablet) {
    padding: 73px 316px 60px 52px;
  }

  @media (min-width: $desktop) {
    box-sizing: border-box;
    padding: 77px 61px 55px 52px;
    width: 570px;
    flex-shrink: 0;
  }
}

.programs__item--slim {
  margin-bottom: 20px;

  @media (min-width: $tablet) {
    margin-bottom: 30px;
  }

  @media (min-width: $desktop) {
    margin-bottom: 0;
  }
}

.programs__title {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  font-weight: 400;
  text-transform: uppercase;
  color: $black;
  padding-left: 70px;
  margin: 0 0 29px;

  @media (min-width: $tablet) {
    padding: 0;
    font-size: 36px;
    line-height: 1;
    margin: 0 0 24px;
  }

  @media (min-width: $desktop) {
    padding-left: 162px;
  }
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: $special_dark-grey;
  padding-bottom: 23px;
  border-bottom: 1px solid #d9d9d9;
  margin: 0;

  @media (min-width: $tablet) {
    padding: 0;
    border: none;
    font-size: 16px;
    line-height: 24px;
    color: $black;
    margin-top: 24px;
    margin-bottom: 48px;
  }

  @media (min-width: $desktop) {
    margin-top: 73px;
    margin-bottom: 23px;
  }
}

.programs__link {
  position: relative;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  color: $black;
  text-decoration: none;
  margin-top: 16px;
  display: inline-block;

  @media (min-width: $tablet) {
    font-size: 20px;
    color: $black;
    margin-top: 10px;
  }
}

.programs__link::after {
  content: "";
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../../icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  margin-left: 15px;

  @media (min-width: $tablet) {
    margin-left: 25px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  }
}

.programs__link:active {
  opacity: 0.3;
}

.programs__link:hover::after {
  width: 40px;
}

.programs__title::before {
  content: "";
  position: absolute;
  left: 0;
  top: 50%;
  transform: translateY(-50%);
  width: 50px;
  height: 50px;
  background-color: $basic_green;
  border-radius: 50%;
  z-index: 1;

  @media (min-width: $tablet) {
    left: 394px;
    top: 15px;
    width: 200px;
    height: 200px;
    transform: none;
  }

  @media (min-width: $desktop) {
    left: 0;
    top: -30px;
    width: 100px;
    height: 100px;
  }
}

.programs__title::after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-60%);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  z-index: 2;
  pointer-events: none;

  @media (min-width: $tablet) {
    top: 0;
    transform: none;
  }
}

.programs__title--slim::after {
  background-image: url("../../icons/cat-slim.svg");
  width: 36px;
  height: 50px;
  left: 7;

  @media (min-width: $tablet) {
    width: 140px;
    height: 194px;
    left: 420px;
    top: 5px;
  }

  @media (min-width: $desktop) {
    width: 70px;
    height: 97px;
    left: 15px;
    top: -35px;
  }
}

.programs__title--pro::after {
  background-image: url("../../icons/cat-pro.svg");
  width: 67px;
  height: 28px;
  left: -9px;
  top: 24px;

  @media (min-width: $tablet) {
    width: 268px;
    height: 112px;
    left: 365px;
    top: 60px;
  }

  @media (min-width: $desktop) {
    width: 134px;
    height: 56px;
    left: -20px;
    top: -10px;
  }
}
