.programs__wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;

  @media (min-width: 768px) {
    flex-direction: row;
    gap: 30px;
  }
}

.programs__item {
  flex: 1 1 0;
  padding: 20px;
  background-color: #f2f2f2;

  @media (min-width: 768px) {
    padding: 40px 30px 40px 52px;
  }
}

.programs__title {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
}

.programs__description {
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

.programs__link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 16px;
  text-transform: uppercase;
  color: #000000;
  text-decoration: none;
  margin-top: 20px;
  display: inline-block;
}

.programs__link::after {
  display: inline-block;
  width: 32px;
  height: 12px;
  background-image: url("../../icons/arrow-icon.svg");
  background-repeat: no-repeat;
  background-size: contain;
  content: "";
  margin-left: 15px;
}

.programs__item--slim-background,
.programs__item--pro-background {
  width: 50px;
  height: 53px;
  background-color: #68b738;
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 20px;
}

.programs__item--slim-background {
  background-image: url("../../icons/cat-slim.svg");
}

.programs__item--pro-background {
  background-image: url("../../icons/cat-pro.svg");
}
