.promo__wrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding-top: 28px;
  padding-bottom: 20px;
  overflow: hidden;

  @media (min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-end;
    text-align: left;
  }

  @media (min-width: 1440px) {
    padding: 110px 0 82px;
  }
}

.promo__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 302px;
  background-image:
    linear-gradient(to bottom, rgba(#68b738, 0.85) 62.92%, #68b738 100%),
    image-set(url("../../images/index-background-desktop2@2x@2x.png")),
    linear-gradient(to bottom, #4c4b50 62.92%, #68b738 62.92%);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: 100% auto, 320px auto, 100% auto;
  z-index: 0;
}

.promo__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 36px;
  color: #ffffff;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 40px;
  }
}

.promo__slogan {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 14px;
  color: #ffffff;
  text-transform: uppercase;
  margin-top: 25px;
  margin-bottom: 29px;
}

.promo__link {
  display: block;
  padding: 10px 63.5px;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
  background-color: #68b738;
  text-decoration: none;
  margin: 0 auto;

  @media (min-width: 768px) {
    width: 244px;
    margin: 0;
  }
}

.promo__title,
.promo__slogan,
.promo__image,
.promo__link {
  position: relative;
  z-index: 1;
}

