.subscribe {
  margin: 0 20px;

  @media (min-width: $tablet) {
    margin: 0 30px;
  }
}

.subscribe__title {
  position: relative;
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 1;
  font-weight: 400;
  color: #000000;
  margin: 40px 0 32px;

  @media (min-width: $tablet) {
    margin: 80px 0 66px;
    padding-left: 40px;
    font-size: 32px;
  }

  @media (min-width: $tablet) {
    padding-left: 80px;
  }
}

.subscribe__title::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  height: 2px;
  background-color: #68b738;

  @media (min-width: 768px) {
    width: 30px;
    left: -30px;
  }

  @media (min-width: 1440px) {
    width: 70px;
    left: -30px;
  }
}

.subscribe__title::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -20px;
  width: 108px;
  height: 2px;
  background-color: #68b738;

  @media (min-width: 768px) {
    width: 456px;
    right: -30px;
  }

  @media (min-width: 1440px) {
    width: 1053px;
  }
}

.subscribe__text {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #000000;
  font-weight: 400;
  padding: 0;
  margin: 0 auto 24px;
  text-align: center;

  @media (min-width: $tablet) {
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    padding: 0 38px;
  }
}

.subscribe__input-container {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 20px;

  @media (min-width: $tablet) {
    flex-direction: row;
    align-items: center;
    gap: 0;
    margin-top: 24px;
  }

  @media (min-width: $desktop) {
    width: 752px;
    margin: 24px auto;
  }
}

.subscribe__input {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 1;
  text-transform: uppercase;
  color: #444444;
  flex: 1 1 0;
  min-width: 254px;
  padding: 13px 12px;
  border: 1px solid #cdcdcd;
  border-left: 0;
  border-right: 0;
  margin-bottom: 16px;

  @media (min-width: $tablet) {
    margin-bottom: 80px;
    margin-left: 38px;
  }

  @media (min-width: $tablet) {
    width: 496px;
    border-left: 1px solid #cdcdcd;
    margin-left: 0;
  }
}

.subscribe__button {
  display: block;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
  background-color: #68b738;
  border: none;
  width: 280px;
  height: 56px;
  margin-bottom: 40px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 26px;
    width: 256px;
    margin-bottom: 80px;
    margin-right: 38px;
  }

  @media (min-width: $tablet) {
    margin-right: 0;
  }
}
